<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3e59d5be-1469-4141-97aa-3b3959420801" name="Address Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3e59d5be-1469-4141-97aa-3b3959420801fileName">Address-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
